# Let's Encrypt ACME challenges
.well-known/

# Reports
goaccess/

# Repositories
CPAN/
CRAN/
CTAN/
debian/
debian-archive/
debian-cd/
debian-cd-weekly/
debian-ports/
debian-security/
dotdeb/
eclipse/
linuxmint/
mariadb/
php.net/
raspberrypi/
raspbian/
ubuntu/
ubuntu-cdimage/
ubuntu-ports/
ubuntu-releases/
ubuntu-security/
