# Let's Encrypt ACME challenges
.well-known/

# Reports
goaccess/

# Repositories
CPAN/
CRAN/
CTAN/
deb-multimedia/
debian/
debian-archive/
debian-cd/
debian-cd-weekly/
debian-ports/
debian-security/
deepin/
dotdeb/
eclipse/
kali/
kali-images/
linuxmint/
mariadb/
mxlinux/
mxlinux-iso/
php.net/
raspberrypi/
raspbian/
ubuntu/
ubuntu-cdimage/
ubuntu-ports/
ubuntu-releases/
