.hs-status {
  display: inline-block;
  margin-bottom: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.hs-status-guide {
  display: inline-block;
  margin-left: 8pt;
  margin-right: 3pt;
  margin-bottom: 3px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.hs-status-guide-line {
  display: inline-block;
}

.hs-status-loading {
  background: #bfcacf;
}

.hs-status-normal {
  background: #28a745;
}

.hs-status-updating {
  background: #007bff;
}

.hs-status-outdated {
  background: #fd7e14;
}

.hs-status-maintenance {
  background: #dc3545;
}
